/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 
* {
    font-family: 'Roboto', sans-serif;
}

.nav-wrapper.container {
  height: 100px;
  
}

nav ul a,
nav .brand-logo {
  color: #fff;
  font-family: 'Satisfy', cursive;
  font-size: 50px; 
}

.blue {
  height: 72px; 
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus{
  border-bottom: 1px solid #2196f3  !important;
  box-shadow: 0 1px 0 0 #2196f3  !important;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #90caf9 blue lighten-3;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.footer-copyright {
  margin: 0;
  background-color: #2196f3;
  color: #FFF;  
  height: 40px;
}

#map {
  width: 49%;
  height: 400px;
}

#display {
  margin-left: 2%; 
  width: 49%; 
  height: 400px;
  overflow: scroll; 

}

.ui-widget-content{
  border: 1px solid #000;
  background-color: #FFF;
  width: 130px;
  text-transform: capitalize;
}

#key {
  margin-left: 18%;
  width: 49%; 
 
}


